/* changes any tag in the body section */
body {
    text-align: center;
    background-image: url("../static/voyager screen-01.png");
    background-repeat: no-repeat;
    background-size: 100% 900px;
    
}

/* changes any class with title in it */
.title {
    letter-spacing: 4px;
    font-size: 8rem;
    margin-bottom: 5%;
    color: white;
    font-family: 'Luckiest Guy';

    /* margin and padding are different, don't know how to explain them though */
    margin-top: 125px;
}

#buttons{
    background-color: darkblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 25px 25px 25px 25px;
    width:25%;
    height:35%;
    margin: 10px auto;
}


.student {

    margin-top: -25%;
    background-color: darkblue;
    color: white;
    border:none;
    font-weight: bold;
    padding: 15px 32px;
    border-radius: 20px;
    margin-left: -1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
} 

/* allows to change whatever you want when the mouse hovers over the tag */
.student:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
} 

.teacher {

    margin-top: -25%;
    background-color: darkblue;
    color: white;
    border:none;
    font-weight: bold;
    padding: 15px 32px;
    border-radius: 20px;
    margin-left: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
 
} 

.teacher:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
} 

footer {
    margin-top: 24%;
    font-family: 'Luckiest Guy';
    
}


