<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <title>Voyager - Student Sign Up</title>

    <link rel="stylesheet" href="../static/loginStyle.css">  

  </head>
  <body>
    <main>
      <section>
        <h1>Student Sign Up</h1>
        <form id="login">
          <label>
            <!-- &nbsp introduces empty space -->
            &nbsp;
            <input class = "signIn" type="text" name="login" placeholder = "email" />
          </label>

          <label>
            <input class = "signIn" type="password" name="password" placeholder="password" />
          </label>

          <label>
            <input class = "signIn" type="studentid" name="studentid" placeholder="student id" />
          </label>

          <label>
            <input class = "signIn" type="classcode" name="classcode" placeholder="class code" />
          </label>

          <button button id = "signIn" >Sign up</button>
        </form>
        <label class = "go"> Have an account? <a href = "/login"> Login. </a>  </label>
      </section>

      <script>
        const firebaseConfig = {
          apiKey: "AIzaSyCjYvZ25XBI-iU4MGlkY6E5C3gfL1Lt8nY",
          authDomain: "voyagergame-d0974.firebaseapp.com",
          projectId: "voyagergame-d0974",
          storageBucket: "voyagergame-d0974.appspot.com",
          messagingSenderId: "1006797880129",
          appId: "1:1006797880129:web:d7d93ff0f4854be14fbfc0"
        };

        firebase.initializeApp(firebaseConfig);

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

        const db = firebase.firestore();


        document
          .getElementById("login")
          .addEventListener("submit", (event) => {
            event.preventDefault();
            const login = event.target.login.value;
            const password = event.target.password.value;
            const studentId = event.target.studentid.value;
            const classCode = event.target.classcode.value;

            // sign user out after creating then redirect them to sign in page
            const promise = firebase.auth()
              .createUserWithEmailAndPassword(login, password)
              .then(() => { 
                return firebase.auth().signOut();
              })
              .then(() => {
                window.location.assign("/login");
              });
            
            promise.catch(e => alert(e.message));

            student = db.collection("students").doc(login);
            studentInfo = db.collection("studentInfo").doc(studentId);

            student.set({ 
              studentId: studentId,
              classCode: classCode
            });

            studentInfo.set({
              score: 0,
              level: 1,
              classCode: classCode
             });

          });
      </script>
    </main>
  </body>
</html>

